<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %> !</h1>
    <p>
      Someone has signed up for your event : <%= @attendance.event.title %> !
    </p>
    <p>
      To access to your account, log in through : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>
